.logo {
  width: 50%;
  height: auto;
  margin-left: 25%;
  max-width: 300px;
}

scroll-content {
  overflow-y: hidden;
}

ion-card {
  display: inline;
}

.getstart {
  background-image: url('../assets/images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
