<ion-header>
  <ion-navbar>
    <ion-title>{{ currentPlace.name }} :: {{ 'groups.title' | translate }} :: {{ currentGroup.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card (click)="changePicture()">
    <img [src]="currentGroup.picture || 'assets/images/noimage.jpg'"/>
  </ion-card>
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>{{ 'groups.fields.edit_name' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="currentGroup.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [disabled]="deviceCheck" [(ngModel)]="currentGroup.type">
        <ion-option *ngFor="let type of dtypes" [value]="type">{{type}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button block ion-button *ngIf="!currentGroup.devicesIds" (click)="addDevices()">{{ 'groups.btn.add_devices' | translate }}</button>
  <button block ion-button *ngIf="currentGroup.devicesIds" (click)="addDevices(currentGroup)">{{ 'groups.btn.add_devices' | translate }}</button>
  <ion-list [virtualScroll]="items" [approxItemHeight]="'40px'">
    <ion-item-sliding *virtualItem="let item">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="'assets/images/devices/' + item.dtype + '.png' "/>
        </ion-avatar>
        <h2>{{item.title}}
          <ion-badge *ngIf="isDeviceOnline(item)" color="secondary" item-end>{{ 'devices.status.online' | translate}}</ion-badge>
          <ion-badge *ngIf="!isDeviceOnline(item)" color="primary" item-end>{{ 'devices.status.offline' | translate}}</ion-badge>
        </h2>
        <p>{{getRoomName( (!!item.roomId) ? item.roomId : undefined )}}</p>
        <ion-badge  color="secondary">{{deviceState(item)}}</ion-badge>
        <ion-badge *ngIf="deviceState(item)" color="secondary" item-end>ON</ion-badge>
        <ion-badge *ngIf="!deviceState(item)" color="danger" item-end>OFF</ion-badge>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="onDeleteItemClick($event, item)">
          <ion-icon name="trash"></ion-icon>
          <span>{{ 'devices.btn.delete' | translate}}</span>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <button block ion-button (click)="itemSave()">{{ 'groups.btn.save' | translate }}</button>

</ion-content>
