page-entry-edit {

}

#labelAdd {
    display: flex;
}
ion-checkbox {
    margin-right: 10px!important;
}
#badges {
    position: fixed;
    right: 0;
    background: white;
    z-index: 99;
    padding: 0 0 0 10px;
}