<ion-header>

  <ion-navbar>
    <ion-title>{{ currentPlace.name }} :: {{ 'rooms.title' | translate }} :: {{ currentRoom.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<!--   <ion-fab bottom left>
    <button ion-fab icon-only color="secondary" (click)="editItem()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab icon-only color="danger" (click)="deleteItem()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab> -->


  <ion-card>
    <img [src]="currentRoom.picture || 'assets/images/noimage.jpg'"/>
    <ion-card-content>
      <ion-card-title>
        {{currentRoom.name}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list-header>{{ 'groups.title' | translate }}</ion-list-header>
  <all-groups-page></all-groups-page>

  <!-- Large list performance boost: VirtualScroll -->
  <ion-list-header>{{ 'devices.title' | translate }}</ion-list-header>
  <ion-list *ngIf="devices.length" [virtualScroll]="devices" [approxItemHeight]="'40px'">
    <ion-item-sliding *virtualItem="let item">
      <ion-item (click)="itemTapped($event, item)">
        <ion-avatar item-start>
          <img [src]="'assets/images/devices/' + item.dtype + '.png' "/>
        </ion-avatar>
        <h2>{{item.title}}
          <ion-badge *ngIf="isDeviceOnline(item)" color="secondary" item-end>{{ 'devices.status.online' | translate}}</ion-badge>
          <ion-badge *ngIf="!isDeviceOnline(item)" color="primary" item-end>{{ 'devices.status.offline' | translate}}</ion-badge>
        </h2>
        <p>{{getRoomName(item.roomId)}}</p>
        <ion-badge *ngIf="deviceState(item)" color="secondary" item-end>ON</ion-badge>
        <ion-badge *ngIf="!deviceState(item)" color="danger" item-end>OFF</ion-badge>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click) = "onDeleteItemClick($event, item)">
          <ion-icon name="trash"></ion-icon>
          <span>{{ 'devices.btn.delete' | translate}}</span>
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click) = "editItem($event, item)">
          <ion-icon name="create"></ion-icon>
          <span>{{ 'devices.btn.edit' | translate}}</span>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
